* {
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
}

.container-fluid {
  background-color: lightgrey;
  height: auto;
}

.padding-box {
  padding: 15px 15px 15px 15px;
}

/* LEFT COLUMN CSS */
.app {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.user-column {
  padding: 0;
}

.header {
  background-color: #efefef;
  padding: 10px 16px;
  height: 72px;
}

.header-usericon i {
  font-size: 42px;
}

.header-icons {
  font-size: 22px;
  padding: 5px 30px 10px 10px;
  color: darkgrey;
}

.header-searchbar {
  background-color: #eee;
  padding: 10px 16px;
  height: 60px;
}

/* Notice Box CSS */
.notice-box {
  background-color: #9de1fe;
  padding: 13px 12px 14px 13px;
  min-height: 62px;
  font-size: 16px;
  line-height: 21px;
  color: #2b3940;
}

.notice-box i {
  font-size: 30px;
  color: #fff;
}

.notice-box a {
  color: #384c56;
}

.contact {
  background-color: #fff;
  padding: 0;
  max-height: 76px;
}

.contacts-list {
  padding: 0;
}

.contacts-list {
  border-style: dashed;
  border-color: black;
  border: 1;
  height: 60px;
}

.contact-info {
  font-size: 48px;
}

.max-height {
  max-height: 500px;
  overflow: hidden;
}

.contact-name {
  color: rgba(0, 0, 0, .6);
}

/* RIGHT COLUMN CSS */
.message-screen {
  min-height: 350px;
  background-image: url(/Users/jolandalapegna/Documents/Boolean/projects/js-html-css-boolzap/img/whatsapp.jpg);
  background-size: cover;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.message-field {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 21px;
  padding: 9px 12px 11px;
  margin: 5px 10px;
}

.message-header {
  height: 72px;
  background-color: #efefef;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.message-column {
  padding: 0;
  background-color: #eee;
  min-height: 400px;
}

.message-input {
  height: 80px;
  background-color: #e5ded3;
}

.message-input i {
  font-size: 32px;
}


/* Media Q */
@media screen (max-width: 768px; ) {
  .app {
    margin-top: 0;
  }
}
